<!--The content below is only a placeholder and can be replaced.-->

<div class="alert alert-success" role="alert">
  
</div>

<h1 class="container bg-info text-white text-center my-4 py-3">Prueba</h1>
<div class="row justify-content-center">

{{title}}<br>
{{correo}}
</div>
<div  class="row justify-content-center">
<img width="300" height="350" src="../assets/tecnologia.png" >

</div>
<br>
<h1 class="text-center text-secondary">Formulario</h1>
<div class="row justify-content-center">
    
    
<div class="col-sm-6">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Texto:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Digite un Texto" [(ngModel)]="formulario.texto" name="texto">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Fecha:</label>
      <div class="col-sm-10"> 
        <input type="date" class="form-control" id="pwd" placeholder="Fecha" [(ngModel)]="formulario.fecha" name="fecha">
      </div>
    </div>
  
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-info" (click)="MostrarTexto();">Enviar</button>
        <button type="reset" class="btn btn-danger">Borrar</button>
      </div>
    </div>
    
  </form>
</div>
</div>

<router-outlet></router-outlet>
